.main {
    margin-left: 230px; /* Same as the width of the sidenav */
    margin-right: 230px; /* Same as the width of the productnav */
    padding: 0px 10px;
}

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    cursor: pointer;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav b {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    background-color: rgba(17, 17, 17, 0.5);
    margin-left: 5px; /* adjust the value as needed */
}

.form-control {
    width: 190px;
    display: none;
}

.btn-class1 {
    padding: 5px 0px;
    width: 150px;
    display: none;
}

.btn-class2 {
    width: 190px;
    display: none;
}
