<div class="main">
  <div class="productnav">
    <h1 align="center">Product List</h1>
    
    <b>
      <form class="btn-class1">
        <input #filterBar type="text" [(ngModel)]="filterValue" name="filterValue" class="form-control" placeholder="Enter product name">
      </form>
    </b>
    
    <a *ngFor="let product of listOfProducts | filter:filterValue">
      <label class="product-list">
        <input type="checkbox" 
              name="products" 
              value={{product.value}}
              [checked]="product.checked"
              [disabled]="product.disabled"
              (change)="updateCheckedProduct(product, $event)"/>
          {{getProductName(product.value)}}
      </label>
      <label class="btn-class1">
        <input #statusButtons [id]="product.value" type="submit" value="Enable/Disable" (click)="enableProduct(product.value)" hidden>
        <input #removeButtons [id]="product.value" type="submit" value="(-) Product" (click)="removeProduct(product.value)" hidden>
      </label>
    </a>

    <b>
      <h2 #newProductLabel hidden>New Product</h2>
      <input #nameTexbox class="form-control" type="text" placeholder="Enter product name" hidden>
      <input #addButton class="btn-class2" type="submit" value="(+) Product" (click)="addProduct()" hidden>
      <h2>Actions</h2>
      <input #saveButton class="btn-class2" type="submit" value="Save List" (click)="saveProducts()" hidden>
      <input #findButton class="btn-class2" type="submit" value="Find Path" (click)="findPath()" hidden>
    </b>
  </div>
</div>
  